
/*.row{
margin-bottom: 10px !important;
}*/

input:disabled { 
    border: 0;
    opacity:100%;

}

textarea:disabled { 
    border: 0;
    opacity:100%;
	
	
}


body { padding-top: 70px; } 

table.jambo_table {
  border: 1px solid rgba(221, 221, 221, 0.78);
}
table.jambo_table thead {
  background: rgba(52, 73, 94, 0.94);
  color: #ECF0F1;
}
table.jambo_table tbody tr:hover td {
  background: rgba(38, 185, 154, 0.07);
  border-top: 1px solid rgba(38, 185, 154, 0.11);
  border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
table.jambo_table tbody tr.selected {
  background: rgba(38, 185, 154, 0.16);
}
table.jambo_table tbody tr.selected td {
  border-top: 1px solid rgba(38, 185, 154, 0.40);
  border-bottom: 1px solid rgba(38, 185, 154, 0.40);
}

.num-sm{
    width: 4em;
} 

.num-md{
    width: 6em;
} 

.num-bg{
    width: 9em;
} 

.red {
	color:red;
}